// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@tailwind base;

@tailwind components;

@tailwind utilities;

.button {
    background: #47cdff;
    color: white;
    box-shadow: 0 2px 7px 0 #b0eaff;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 1.25rem;
    border-radius: 0.5rem;
    background-color: #fff;
}
